@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

button {
  background: none;
  border: none;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
body a {
  text-decoration: none;
}
body a:visited {
  text-decoration: none;
}

.navbar {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.headerimg {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.2em;
  text-transform: uppercase;
}

.products_title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  color: hsl(212, 27%, 19%);
  padding: 24px 48px;
}

.services_title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
}

.services_details {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  vertical-align: bottom;
}

@media (min-width: 768px) {
  .products_title {
    text-align: left;
  }
}
.testimony .testimony_title {
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(210, 4%, 67%);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 81px;
}
.testimony .testimony_details {
  font-weight: 600;
  color: hsl(213, 9%, 39%);
  font-family: "Barlow", sans-serif;
  padding-bottom: 69px;
  line-height: 32px;
}
.testimony .name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  color: hsl(212, 27%, 19%);
  padding-bottom: 9px;
}
.testimony .job {
  font-weight: 600;
  color: hsl(210, 4%, 67%);
}

.products_link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  width: -moz-fit-content;
  width: fit-content;
  margin: 24px 0px;
}
.products_link:after {
  content: "";
  float: left;
  background: hsla(51, 100%, 49%, 0.57);
  width: 100%;
  height: 6px;
  border-radius: 3px;
}
.products_link:hover {
  transform: scale(110%);
}

.linkred:after {
  background: hsl(7, 99%, 70%);
}

@media (min-width: 768px) {
  .products_link {
    padding: 0 48px;
  }
}
.testimony_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 36px;
  text-align: center;
}
.testimony_box figure {
  display: flex;
}
.testimony_box figure img {
  width: 72px;
  height: auto;
  border-radius: 50%;
}
.testimony_box .testimony_details {
  margin-top: 58px;
}

@media (max-width: 768px) {
  .testimony_box {
    margin: 24px;
  }
}
.navbar {
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
  position: absolute;
  top: 0;
  z-index: 199;
}
.navbar .nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.navbar .logo img {
  width: 160px;
  height: auto;
}
.navbar .nav_link {
  transition: 0.5s ease;
}
.navbar .nav_link:hover {
  background-color: rgba(255, 255, 255, 0.285);
  padding: 8px 16px;
  border-radius: 20px;
}
.navbar .nav_link.nav_btn {
  background: hsl(0, 0%, 100%);
  padding: 8px 16px;
  border-radius: 20px;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  animation: 0.2s ease-in;
  font-size: 0.8em;
}
.navbar .nav_link.nav_btn:hover {
  background: rgba(255, 255, 255, 0.285);
  color: hsl(0, 0%, 100%);
}
.navbar a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  cursor: pointer;
}
.navbar a:visited {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.hamburger {
  cursor: pointer;
  display: none;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: hsl(0, 0%, 100%);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar a {
    color: hsl(232, 10%, 55%);
    text-decoration: none;
    cursor: pointer;
  }
  .navbar a:visited {
    text-decoration: none;
    color: hsl(232, 10%, 55%);
  }
  .nav_menu {
    position: fixed;
    z-index: 200;
    left: 100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    text-align: center;
    transition: 0.4s;
    padding: 64px 0px;
  }
  .nav_menu.active {
    left: 0;
  }
  .nav_menu.active .nav_btn {
    background-color: hsl(51, 100%, 49%);
    padding: 8px 16px;
    color: hsl(212, 27%, 19%);
  }
  .nav_menu.active .nav_btn:hover {
    color: hsl(212, 27%, 19%);
    background-color: hsl(51, 100%, 49%);
    font-size: 110%;
  }
  .nav_menu.active .nav_link:hover {
    color: hsl(212, 27%, 19%);
  }
}
.headerimg {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/images/photos/image-header.jpg");
}
.headerimg .headerimg_text {
  color: hsl(0, 0%, 100%);
}
.headerimg .headerimg_text .headerimg_title {
  padding: 48px 0px;
}
.headerimg .headerimg_text.headerimg_arrow {
  margin-top: 50px;
}

.bounce {
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.products {
  width: 100%;
}

.products_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products_container .products_text {
  width: 100%;
  height: auto;
}
.products_container .products_text .products_details {
  padding: 8px 48px;
  color: hsl(232, 10%, 55%);
  font-weight: 600;
  line-height: 30px;
}
.products_container .products_img {
  width: 100%;
  height: auto;
}
.products_container .products_img figure {
  display: flex;
  aspect-ratio: 1/1;
  position: relative;
}
.products_container .products_img figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products_container.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

@media (max-width: 868px) {
  .products_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .products_container.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .products_container .products_text {
    width: 95%;
    max-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 64px 0px;
    text-align: center;
  }
  .products_container .products_text .products_details {
    padding: 8px 8px;
    font-weight: 600;
    font-size: 18px;
    color: hsl(232, 10%, 55%);
    line-height: 30px;
    margin-bottom: 24px;
  }
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.services .graphic, .services .photography {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 600px;
  background: url("../../assets/images/photos/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 59px;
  color: hsl(167, 40%, 24%);
}
.services .photography {
  background: url("../../assets/images/photos/image-photography.jpg");
  background-size: cover;
  background-position: center;
  color: hsl(198, 62%, 26%);
}
.services .services_details {
  padding: 27px 82px;
}

@media (max-width: 868px) {
  .services {
    flex-direction: column;
  }
  .services .services_details {
    padding: 24px 24px 0px 24px;
    line-height: 27px;
  }
}
.testimony {
  padding: 64px 0px;
}
.testimony .testimony_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .testimony_container {
    flex-direction: column;
  }
}
.gallery .gallery_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery .gallery_container figure {
  display: flex;
}
.gallery .gallery_container figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .gallery .gallery_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.footer {
  width: 100%;
  height: 350px;
  background-color: hsl(168, 44%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
.footer .footer_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 56px;
  color: hsl(168, 34%, 41%);
}
.footer .footer_menu a {
  color: hsl(168, 34%, 41%);
}
.footer .footer_menu a:visited {
  color: hsl(168, 34%, 41%);
}
.footer .footer_menu a:hover {
  color: hsl(0, 0%, 100%);
}
.footer .footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 54px 0px;
  gap: 28px;
}
.footer path:hover {
  fill: white;
}/*# sourceMappingURL=style.css.map */