.navbar {
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
  position: absolute;
  top: 0;
  z-index: 199;
  .nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .logo {
    img {
      width: 160px;
      height: auto;
    }
  }
  .nav_link {
    transition: 0.5s ease;
    &:hover {
      background-color: $hoverbtn;
      padding: 8px 16px;
      border-radius: 20px;
    }
    &.nav_btn {
      background: $white;
      padding: 8px 16px;
      border-radius: 20px;
      color: $desablue;
      font-family: $special;
      animation: 0.2s ease-in;
      font-size: 0.8em;
    }
    &.nav_btn:hover {
      background: $hoverbtn;
      color: $white;
    }
  }
  a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
  a:visited {
    text-decoration: none;
    color: $white;
  }
}

.hamburger {
  cursor: pointer;
  display: none;
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar {
    a {
      color: $darkgrayblue;
      text-decoration: none;
      cursor: pointer;
    }
    a:visited {
      text-decoration: none;
      color: $darkgrayblue;
    }
  }
  .nav_menu {
    position: fixed;
    z-index: 200;
    left: 100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: $white;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    padding: 64px 0px;
  }
  .nav_menu.active {
    left: 0;
    .nav_btn {
      background-color: $yellow;
      padding: 8px 16px;
      color: $desablue;
    }
    .nav_btn:hover {
      color: $desablue;
      background-color: $yellow;
      font-size: 110%;
    }
    .nav_link:hover {
      color: $desablue;
    }
  }
}
