.products_link {
  font-family: $special;
  font-weight: $ultrabold;
  color: $desablue;
  width: fit-content;
  margin: 24px 0px;
  &:after {
    content: "";
    float: left;
    background: $yellow;
    width: 100%;
    height: 6px;
    border-radius: 3px;
  }
  &:hover {
    transform: scale(110%);
  }
}

.linkred {
  &:after {
    background: $softred;
  }
}

@media (min-width: 768px) {
  .products_link {
    padding: 0 48px;
  }
}
